;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]]

 :dev-http
 {8400 "public"}

 :builds
 {:demo
  {:target :browser
   :modules {:main {:init-fn demo.app/init
                    ;; work around closure compiler not allowing import() in optimized code
                    :prepend "var shadow_esm_import = function(x) { return import(x); }"}
             }}}}
